body {
  background-color: aquamarine;
  background-image: url("/images/background.png");
  background-attachment: fixed;
  color: darkcyan;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.on-sale > .thumbnail {
  border-color: red;
}